v\:* {
  behavior:url(#default#VML);
}

.gmap-popup{
  width: 250px;
}

.gmap-tooltip{
   padding: 2px;
   margin: 0;
   border: solid black 1px;
}

div#view_gmap{
	width: 100% !important;
/*	height: 350px !important; */
}

