.image-attach {
  float: right;
  margin-left: 1em;
}
.image-attach-teaser {
  float: right;
  margin-left: 1em;
}
.image-attach-preview {
  margin-bottom: 1em;
}
/*****
   * 
   * This was causing a major headache!!!
   */
   
 /*  
.node {
  clear: both;
}
*/